/***********************************TAG Selectors**********************************/
body {
    font-family: 'Montserrat', sans-serif;
    font-weight: 400;
}

h1 {
    font-family: 'Montserrat', sans-serif;
    font-weight: 900;
    font-size: 3.5rem;
    line-height: 1.5;
}

a:hover{
    color: #ffe0e0;
}
/***********************************CLASS Selectors**********************************/
.navbar-font-color {
    color: #ffffff;
}

.row {
    margin-right: 0px;
}

/* Set the border color to the desired color */
.custom-toggler.navbar-toggler {
    border-color: #ffffff;
}

/* Setting the stroke to white using rgb values (0, 128, 0) */
.custom-toggler .navbar-toggler-icon {
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(255,255,255, 0.8)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E");
}

.container-fluid{
    padding: 3% 15%;
}

.navbar{
    padding-left: 0;
}

.title-content{
    margin-top: 4.5rem;
}

.navbar-brand-style{
    font-size: 2rem;
}

.title-baseline{
    color: #ffffff;
}

.nav-item{
    padding: 0 18px;
}

.nav-link{
    font-size: 1.2rem;
}

/* Download Buttons */
.download-button{
    margin: 5% 3% 5% 0;
}

/* Title Image */
.img-iphone{
    transform: rotate(20deg);
    width: 60%;
    height: 100%
}

/***********************************ID Selectors**********************************/
/* Title Section */
#title {
    background-color: #f56a79;
    height: 70%;
}

/* Features Section */
#features{
    text-align: center;
    padding-top: 7%;
    padding-bottom: 7%;
}

#features > .row > div > h3{
    font-size: 1.5rem;
    font-weight: bold;
    color: #668282;
}

#features > .row > div > p{
    width: 50%;
    margin: 0 auto;
    font-size: 0.8rem;
}

#features > .row > div > i{
    font-size: 3rem;
    color: #ff7d7d;
    padding: 10px auto;
    margin-bottom: 1rem;
}

#features > .row > div > i:hover{
    color: #f93d3d;
}
